<div class="navWrap">
   <div class="navbar">
      <ul>
         <li><a href="/">Home</a></li>
         <li><a href="/beers">Beers</a></li>
         <li><a href="/randombeer">Random beer</a></li>
      </ul>
   </div>
</div>