 {{#each randomBeers}}
  <div class="beerPlaceholder">
    <div class="beer-img"><img src="{{image_url}}"></div> 
    <div class="beer-name">{{name}}</div>
    <div class="beer-tagline">{{tagline}}</div>
    <div class="beer-discription">{{description}}</div>
  </div>
{{/each}}